<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475899270664-9ooq6l7tlbi7of684u2pkhnh5i9gngae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475899270664-9ooq6l7tlbi7of684u2pkhnh5i9gngae</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>475899270664-eo93br0a17r7jcsb1amsacvimh7fetir.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCwu-HjPLIomBgzBt9OnSlgeFLEOwBuCWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>475899270664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.holymessages.app</string>
	<key>PROJECT_ID</key>
	<string>holymessages-a240d</string>
	<key>STORAGE_BUCKET</key>
	<string>holymessages-a240d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475899270664:ios:6ef5499d1460a2f7ac63bd</string>
</dict>
</plist>